.footer__column-link {
  display: flex;
  list-style-type: none;
  float: left;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .footer__column-link {
    flex-direction: column;
    float: none;
    margin-bottom: 16px;
  }
}
