.header__lang-link_null {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.header__lang-link_null:checked + .header__lang-link_pseudo {
  border-bottom: 3px solid #fff;
}
