.cover__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #fff;
  /* display: block; */
  z-index: 1;
  position: relative;
  width: 560px;
  /* height: 152px; */
  /* padding: 245px 312px 0 312px; */
  /* padding: 33% 26% 0 26%;*/
  /* box-sizing: border-box; */
  margin: 0 auto;
  padding: 245px 0 32px;
}

@media screen and (max-width: 768px) {
  .cover__title {
    width: 288px;
    font-size: 32px;
    line-height: 35px;
    padding: 33px 0 16px;
  }
}
