.header__radio {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  float: right;
  padding-top: 18px;
  padding-left: 18px;
  margin-right: 18px;
  /* display: block; */
}
.header__radio:last-child {
  margin-right: 0;
}
